th,
		tr {
		text-align:center;
		font-size: 24px;
		font-family: Futura, 'Trebuchet MS', Arial, sans-serif
		}
		tr:hover {
		background-color: #009879;
		}
		table {
		border: 1px solid #000;
		width: 100%
		}
button{
    
        background-color:hotpink;
        font-size: 20px;
        border-radius: 10px; 
        
    }
    button:hover
    {
        background-color: orange;
        transition: 0.8s;
        cursor: pointer;
    }
div.main{
    width: 400px;
    margin: 80px auto 0px auto;
    background-color: #009879;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 12px 12px 12px 12px rgba(2,1,2,0.5);
    color: aquamarine;
    padding: 10px 20px 10px 10px;;
}